{% extends 'base.html' -%}

{%- block body -%}
<div class="pagination">
    <div class="pagination-body">
        {% block pagination %}
        {% endblock %}
        <hr width="100%">
    </div>
    <div class="pagination-tail controls">
        {% if data['has_prev'] -%}
        {% if data['page'] == 2 -%}
        {% set prev = url_for(request.endpoint) %}
        {%- else -%}
        {% set prev = url_for(request.endpoint, page=data['page'] - 1, per_page=data['per_page']) %}
        {%- endif -%}
        <a href="{{ prev }}" class="change-page" style="visibility:visible"><< Prev</a>
        {%- else -%}
        <a class="change-page" style="visibility:hidden"><< Prev</a>
        {%- endif %}
        <label id="pages">
            Page <b>{{data['page']}}</b> of <b>{{data['pages']}}</b>
            ({{data['items']|length}} of {{data['total']}} items)
        </label>
        {% if data['has_next'] -%}
        {% set next = url_for(request.endpoint, page=data['page'] + 1, per_page=data['per_page']) -%}
        <a href="{{ next }}" class="change-page" style="visibility:visible">Next >></a>
        {%- else -%}
        <a class="change-page" style="visibility:hidden">Next >></a>
        {%- endif %}
    </div>
</div>
{%- endblock %}